.main-container[b-upopy77elp] {
  width: 100%;
  min-height: 100vh;
  padding: 20px;
}

.filters-container[b-upopy77elp] {
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: 100%;
}

.filters-container select[b-upopy77elp] {
  flex: 1;
}

.top-bar[b-upopy77elp] {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  gap: 10px;
}

.filters-selected[b-upopy77elp] {
  width: 120px;
  height: 40px;
  border-radius: 8px;
  background-color: #f9f9f9;
  padding-left: 3px;
  padding-right: 3px;
}

.search-box[b-upopy77elp] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.cards-container[b-upopy77elp] {
  margin-top: 10%;
  height: 100vh;
}
